
<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <div class="brand-list">
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =3 })"> <img src="~/Assets/client/images/icons/new icon/brand1.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =10 })" > <img src="~/Assets/client/images/icons/new icon/brand2.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =2  })"><img src="~/Assets/client/images/icons/new icon/brand3.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =4 })"> <img src="~/Assets/client/images/icons/new icon/brand4.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =11 })"> <img src="~/Assets/client/images/icons/new icon/brand5.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =12 })"> <img src="~/Assets/client/images/icons/new icon/brand6.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =3 })"> <img src="~/Assets/client/images/icons/new icon/brand1.png" /></a>
                       <a href="@Url.Action("SanPhamTheoHang", new { @brandID =10 })"><img src="~/Assets/client/images/icons/new icon/brand2.png" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->
